body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.projects-meta,
.card,
.text-box,
.image-box {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.intro {
  height: 100vh;
}

.intro-nav {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* ------------------------------------ANIMATE----------------------------- */
.socials {
  display: flex;
}

.social {
  padding: 0 10px;
}

/* ------------------------------------ANIMATE----------------------------- */
.round-toggle {
  padding: 15px 30px;
}

.intro-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.intro-title {
  font-size: 56px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 100px;
  margin-left: 140px;
  color: #0a192f;
}

.title-name,
.title-job {
  margin: 0;
}

.first-name {
  color: #01baae;
}

.btn-group {
  background-color: #fff;
  border: 2px solid #01baae;
  color: #01baae;
  padding: 15px 20px;
  cursor: pointer;
  float: left;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-groups:after {
  content: "";
  clear: both;
  display: table;
}

.btn-link {
  margin-top: 15px;
}

/* ------------------------------------ANIMATE----------------------------- */
.btn-group:hover {
  background-color: #01baae;
  color: #fff;
}

/* ------------------------------------ANIMATE----------------------------- */

/* ----------------------------------RESPONSIVE------------------------------ */

@media only screen and (max-width: 500px) {
  .intro {
    height: auto !important;
  }

  .intro-area {
    height: 50%;
    margin: 0 15px;
    align-items: center;
    justify-content: center;
  }

  .title-job {
    font-size: 16px !important;
    margin-bottom: 50px;
  }

  .title-name {
    font-size: 18px !important;
  }

  .btn-groups-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-section {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    width: 150px;
  }
}
@media only screen and (max-width: 980px) {
  .intro-title {
    margin-bottom: 1px;
    margin-left: 1px;
  }

  .title-name {
    font-size: 40px;
  }

  .title-job {
    margin-top: 10px;
    font-size: 26px;
  }

  .btn-groups-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .btn-section {
    padding: 0 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none; /* Since we're using <a> tags */
    /* min-width: 120px;  */
    text-align: center;
  }
}

/* ----------------------------------RESPONSIVE------------------------------ */

/* -------------------------------------------SKILLS--------------------------------------- */

.skills {
  background-color: #01baae;
  clip-path: polygon(0 100%, 450% 100%, 0 0);
  padding: 3.5rem;
}

.header {
  text-align: center;
  color: #fff;
  padding: 25px;
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 0.2rem;
  font-size: 1.2rem;
  padding: 0.2rem 20px;
}

.skills-box {
  padding: 0.2rem;
  color: #ddd;
}

.skills-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5;
}

.skills-img {
  width: 50%;
}

.img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-meta h3 {
  color: #fff;
  margin: 0.5rem;
}

/* ----------------------------------RESPONSIVE------------------------------ */

@media only screen and (max-width: 500px) {
  .skills {
    clip-path: polygon(0 100%, 750% 100%, 0 0);
    /* padding: 1.5rem; */
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2rem;
    font-size: 0.7rem;
    padding: 0.2rem 0.2rem;
  }

  .header {
    padding: 15px 10px 0 0;
    font-size: 1.2rem;
  }

  .skills-box {
    padding: 0.2rem;
  }

  .skills {
    padding: 1rem;
  }

  .skills-img {
    width: 25%;
  }

  .img {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 25px;
  }
}

/* ----------------------------------RESPONSIVE------------------------------ */

/* -------------------------------------------SKILLS--------------------------------------- */

/* --------------------------------------------PROJECTS---------------------------------------- */

/* .projects {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.text-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.image-box {
  width: 50%;
  height: 100%;
  margin: 0 0 -0.5rem 0;
  padding: 0;
  overflow-y: hidden;
} */

.header-blue {
  color: #0a192f;
}

.projects-meta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  max-width: 100%;
}

.image-box {
  width: 100%;
  max-width: 100%;
}

.image-box img {
  height: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.video-box {
  max-width: 950px;
  margin: 10px 0;
  flex: 0 0 650px;
}

.video-box iframe {
  max-width: 100%;
}

/* .text-box {
  display: flex;

  text-justify: initial;
} */

/* .wagtail {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.wagtail img {
  width: 100%;
  height: auto;
  display: block;
} */

.project-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.project-stack span {
  display: inline-block;
  border: 2px solid #01baae;
  background-color: #1d222b;
  color: #fff;
  padding: 5px;
  margin-top: 3px;
}

.project-link {
  padding: 5px 10px;
  text-decoration: none;
}

.project-description {
  word-wrap: break-word;
  max-width: 750px;
}

.image-box img {
  /* width: 100%;
  height: auto; */
  display: block;
  max-width: 550px;
  max-height: 550px;
}

/* ----------------------------------RESPONSIVE------------------------------ */

@media only screen and (max-width: 500px) {
  .projects {
    padding: 0 0 0 0;
  }
  .video-box {
    max-width: 350px;
  }

  .btn-link {
    margin: 10px 0;
  }

  .image-box img {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 980px) {
  .project-link {
    margin: 1px 0;
  }

  .video-box {
    max-width: 750px;
    flex: 0 0 450px;
  }

  .video-box iframe {
    max-width: 80%;
  }

  .text-box {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 810px) {
  .project-container {
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }

  .card {
    flex-direction: column;
    max-width: 670px;
    margin-bottom: -175px;
    margin-bottom: 2px;
  }

  /* .special {
    margin-bottom: 2px;
  } */

  .project-links {
    padding-bottom: 20px;
  }

  .image-box {
    .image-box {
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
    }
  }

  .image-box img {
    /* width: 100%;
    height: auto; */
    display: block;
    max-width: 550px;
    max-height: 550px;
  }

  .video-box {
    max-width: 100%;
    margin-left: 28px;
  }

  .text-box {
    margin-right: 10px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .project-container {
    width: 100%;
  }

  .project-stack {
    width: 100%;
  }

  .project-links {
    padding-bottom: 2px;
  }
}

/* ----------------------------------RESPONSIVE------------------------------ */

/* -----------------------------------ABOUT ME----------------------------------- */

.about {
  background-color: #01baae;
  clip-path: polygon(0 15vh, 100% 0, 100% 80%, 0 100%);
  padding: 3.5rem;
  margin-top: 1rem;
}

/* .about-me {
  word-wrap: break-word;
  max-width: 100%;
} */

.text-meta {
  color: #fff;
}

.text-container {
  margin-bottom: 5rem;
}

.text-meta p {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  line-height: 1.6;
}

/* ----------------------------------RESPONSIVE------------------------------ */
/* @media only screen and (max-width: 880px) {
  .about {
    clip-path: none;
  }

  .text-meta {
    width: 500px;
  }
} */

/* @media only screen and (max-width: 600px) {
  .about {
    clip-path: none;
  }

  .text-meta {
    width: 350px;
  }
} */

@media only screen and (max-width: 500px) {
  .about {
    clip-path: none;
  }

  /* .text-meta {
    width: 450px;
  } */

  /* .text-meta p {
    font-size: 0.5rem;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
  } */

  .about-me {
    word-wrap: break-word;
    max-width: 100%;
    font-size: 0.5rem;
    /* display: flex;
    justify-content: flex-start; */
  }
}

/* ----------------------------------RESPONSIVE------------------------------ */

/* PUBLICATION */

.publication {
  padding: 2rem;
  cursor: pointer;
}

.pub-section {
  display: flex;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
}

.image-card {
  flex: 0 0 50%;
  max-width: 500px;
}

.image-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.post-container {
  text-decoration: none;
}

.post-title {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0a192f;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .pub-section {
    flex-direction: column;
    text-align: center;
  }

  .image-card {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .post-title {
    font-size: 1rem;
  }
}

/* ----------------------------------------CONTACT ME ---------------------------- */

.contact {
  background-color: #01baae;
  clip-path: polygon(0 100%, 450% 100%, 0 0);
  padding: 3.5rem;
}

form {
  max-width: 700px;
  width: 90%;
  margin: 2vh auto 0 auto;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 20px 0;
  color: #fff;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: 2px solid #01baae;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #01baae;
}

.center {
  text-align: center;
}

button[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background-color: #fff;
  border: 2px solid #01baae;
  color: #01baae;
  cursor: pointer;
  padding: 10px 4px;
  font-size: 1.3rem;
}

button[type="submit"]:hover {
  background-color: #01baae;
  color: #fff;
  border-color: #fff;
}

.error {
  color: red;
}

.error-border {
  border-bottom: 1px solid red;
}

#success {
  color: #28a745;
}

/* ----------------------------------------CONTACT ME ---------------------------- */

/* ----------------------------------RESPONSIVE------------------------------ */

@media only screen and (max-width: 500px) {
  form {
    max-width: 500px;
  }
}

/* ----------------------------------RESPONSIVE------------------------------ */
